<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
</head>
<body>
    <h1>Student Registration</h1>

    <!-- <form action="">
        {{form}}
        <input type="submit" value="Submit">
    </form> -->


    <!-- <form action="">
        {{form.as_table}}
        <input type="submit" value="Submit">
    </form> -->


    <form action="">
        {{form.as_div}}
        <input type="submit" value="Submit">
    </form>


    <!-- <form action="">
        {{form.first_name}}
        <input type="submit" value="Submit">
    </form> -->




</body>
</html>