<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page:</h1>
    <form action="">
        {% for field in form.visible_fields %}
            <div>
                {{field.label_tag}}
                {{field}}
                <label for="{{field.id_for_label}}" class="{{field.label}}"></label>
            </div>
        {% endfor %}
        <h3>Hidden Fields</h3>
        {% for field in form.hidden_fields %}
            <div>
                {{field.label_tag}}
                {{field}}
                <label for="{{field.id_for_label}}" class="{{field.label}}"></label>
            </div>
        {% endfor %}
    </form>
</body>
</html>