<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Review System{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="m-0 p-0">
    <nav class="bg-blue-600 text-white px-6 py-3 shadow-md">
        <div class="container mx-auto flex items-center justify-between">

             <!-- Clickable Brand Name -->
            <a href="{% url 'book-list' %}"
            class="text-2xl font-bold hover:text-gray-200 transition">
                MyLibrary
            </a>

            <!-- Menu Items -->
            <ul class="flex space-x-6 text-lg font-medium">
                <li>
                    <a href="{% url 'book-list' %}"
                    class="hover:text-gray-200 transition">
                    Books
                    </a>
                </li>

                <li>
                    <a href="{% url 'book-create' %}"
                    class="hover:text-gray-200 transition">
                    Add Book
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>