<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Django Template Language (DTL)</h1>
    <!-- <h2>Example 1.1: Variable</h2>
    <h3>Name: {{name}}</h3> -->


    <h2>Example 1.2: Variable</h2>
    <!-- <h3>Name: {{nm}}</h3>
    <h3>Duration: {{du}}</h3>
    <h3>Seats: {{st}}</h3> -->


    <h2>Example 2: Filters</h2>
    <!-- <h3>Name: {{name}}</h3>
    <h3>Upper: {{name|upper}}</h3>
    <h3>Lower: {{name|lower}}</h3>
    <h3>Default: {{name|default:'nothing'}}</h3>
    <h3>Length: {{name|length}}</h3>
    <h3>Slice: {{name|slice:"2"}}</h3>
    <h3>Truncate Char: {{name|truncatechars:3}}</h3>

    <h3>Desc: {{desc}}</h3>
    <h3>Truncate word: {{desc|truncatewords:3}}</h3>
    <h3>Upper & Truncate word: {{desc|upper|truncatewords:3}}</h3> -->


    <h2>Example 3: Date And Time</h2>
    <!-- <h3>{{dt}}</h3>     
    <h3>{{dt|date}}</h3>    
    <h3>{{dt|date:'D d M Y'}}</h3>     
    <h3>{{dt|time}}</h3>     
    <h3>{{dt|time:'H:i'}}</h3>   
    <h3>{{dt|date:'SHORT_DATE_FORMAT'}}</h3>    
    <h3>{{dt|time:'TIME_FORMAT'}}</h3>     -->


    <h2>Example 4: Float Format</h2>
    <!-- <h3>{{p1}}</h3>
    <h3>{{p2}}</h3>
    <h3>{{p3}}</h3>

    <h3>{{p1|floatformat}}</h3>
    <h3>{{p2|floatformat}}</h3>
    <h3>{{p3|floatformat}}</h3>

    <h3>{{p1|floatformat:3}}</h3>
    <h3>{{p1|floatformat:0}}</h3>

    <h3>{{p1|floatformat:-3}}</h3>
    <h3>{{p2|floatformat:-3}}</h3>
    <h3>{{p3|floatformat:-3}}</h3> -->


    <h2>Example 5.1: If tag</h2>
    <!-- {% if nm %}
        <h3>Hello If Tag</h3>
    {% endif %}


    <h2>Example 5.2: If tag</h2>
    {% if nm and st %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% endif %}

    {% if nm or st %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% endif %}

    {% if not nm %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% endif %}

    {% if nm == 'Django' %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% endif %}

    {% if nm == 'Django' and st == 5 %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% endif %}

    {% if nm|length >= 4 %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% endif %}

    {% if nm == 'Django' %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% else %}
        <h3>Name: Guest</h3>
    {% endif %}

    {% if nm == 'Django' %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% elif nm == 'Python' %}
        <h3>Name: {{nm}} Seats: {{st}}</h3>
    {% else %}
        <h3>Name: Guest</h3>
    {% endif %} -->


    <h2>Example 6: For Loop</h2>
    <!-- <ul>
        {% for name in names %}
            <li>{{name}}</li>
        {% endfor %}
    </ul>
    <hr>

    <ul>
        {% for name in names reversed %}
            <li>{{name}}</li>
        {% endfor %}
    </ul>
    <hr>

    <ul>
        {% for name in names reversed %}
            <li>{{name}}</li>
        {% empty %}
            <h3>Empty List</h3>
        {% endfor %}
    </ul>
    <hr>

    <ul>
        {% for name in names reversed %}
            <li>{{forloop.counter}} {{name}}</li>
        {% endfor %}
    </ul> -->


    <h2>Example 7: Complex Data</h2>
    <!-- <h3>{{students}}</h3>
    <h3>{{students.stu1}}</h3>
    <h3>{{students.stu1.name}}</h3>
    <h3>{{students.stu1.roll}}</h3> -->


    <h2>Example 8</h2>
    <!-- <h3>{{student}}</h3>
    {% for key, value in student.items %}
        {{key}} - {{value}} <br>
    {% endfor %} -->

    
    <h2>Example 9</h2>
    {% for key, value in students.items %}
        {{key}} - {{value}} <br>
        {% for k, v in value.items %}
            {{k}} - {{v}} <br>
        {% endfor %}
    {% endfor %} 

    {% for key, value in students.items %}
        {% for k, v in value.items %}
            {{forloop.parentloop.counter}} - {{k}} - {{v}} <br>
        {% endfor %}
    {% endfor %} 
    
</body>
</html>