<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Default Context</h2>
    <h3>
        {{stu.name}}
        {{stu.roll}}
        {{stu.course}}
    </h3>
    <hr>
    <h2>Created Context</h2>
    {% for student in students %}
    <h3>
        {{student.name}}
        {{student.roll}}
        {{student.course}}
    </h3>
    {% endfor %}
    
</body>
</html>